/* General ////////////////////////////////////////////////////////////////// */
body { background: teal; }
hr { margin-bottom: 10px; }
small { color: #666666; }

/* Vetted /////////////////////////////////////////////////////////////////// */
/* General */
#vetted {
    width: 100%;
    margin: 1px;
    font-size: 16px;
    padding-left: 20px;
    margin-bottom: 48px;
    border-left: 3px solid #446CB3 !important;
}
#vetted h1 {
    font-weight: 500;
    font-size: 28px;
    color: #446CB3;
}
/* Header */
.logo {
    height: 30px;
}
.logo-link:hover {
    text-decoration: none !important;
}
.subtitle {
    margin-top: 30px;
}
/* Results */
.results {
    padding-top: 10px;
}
/* Item */
.item {
    width: 100%;
    height: 100px;
    cursor: pointer;
    max-width: 400px;
    margin-bottom: 20px;
}
.item:hover {
    color: #666666;
}
.item-img {
    float: left;
    width: 100px;
    height: 100px;
    margin-right: 10px;
    background: #446CB3;
}
.item-text {
    height: 100px;
    font-size: 14px;
    text-align: left;
    padding-left: 10px;
    position: relative;
    width: calc(100% - 10px);
}
.item-title {
    display: block;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 5px;
}
.item-feature {
    bottom: 0;
    left: 110px;
    font-size: 12px;
    color: #666666;
    position: absolute;
}
.divider {
    width: 40px;
    height: 3px;
    margin-top: 5px;
    background: #DDD;
}
/* Loading ////////////////////////////////////////////////////////////////// */
/* Container */
.spinner {
    width: 60px;
    height: 60px;
    position: relative;
}
.double-bounce1, .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #446CB3;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
}
.double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}
/* Animation */
@-webkit-keyframes sk-bounce {
    0%, 100% { -webkit-transform: scale(0.0) }
    50% { -webkit-transform: scale(1.0) }
}
@keyframes sk-bounce {
    0%, 100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    } 50% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}